# ---- Anime site APIs ----
VITE_ANILIST_URL=https://anime-details-api.vercel.app/api
VITE_ANIMEPAHE_API=https://anime-streaming-system-1.onrender.com
VITE_API_URL=https://anime-details-api.vercel.app/api
VITE_MEGAPLAY_URL=https://megaplayproxy1.vercel.app

# ---- Movies / TV section APIs ----
VITE_TMDB_API_KEY=64b03fca3936439f3d3da531973e5ff9
VITE_VIDEASY_URL=https://player.videasy.to
VITE_EZVIDAPI_URL=https://api.ezvidapi.com
VITE_VIDAPI_URL=https://vaplayer.ru
